
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 1080px;
    background: url(../../images/body_bg2.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
/* 导航栏 */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, .3);

}
nav .title {
    float: left;
    margin-right: 20px;
    line-height: 50px;
    color: #ddd;
    font-size: 20px;
    font-weight: 700;
}
nav input {
    float: left;
    height: 34px;
    width: 200px;
    border-radius: 10px;
    margin-top: 8px;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
    line-height: 34px;
}
nav button {
    float: left;
    margin-top: 9px;
    margin-left: 5px;
    height: 34px;
    width: 50px;
    background-color: #fff;
    color: #666;
    font-weight: 700;
    border-radius: 7px;
}
nav .registered {
    float: right;
    margin-right: 10px;
    height: 50px;
}
nav .registered span {
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    color: #ddd;
    font-size: 20px;
    font-weight: 700;
    opacity: .7;
}



.w {
    width: 100%;
}

/* 侧边栏 */
.w .left {
    float: left;
}
aside {
    position: fixed;
    top: 50px;
    left: 0;
    width: 90px;
    height: 100%;
    padding-top: 10px;
    background-color: rgba(51, 51, 51, 0.7);
    transition: all 1s;
}
aside .massage {
    width: 100px;
    margin-top: 50px;
    transition: all 1s;

}
aside .massage-pass {
    width: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
}
aside .pic {
    width: 50px;
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: url(../../images/icon.png) no-repeat;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, .3) inset;
    background-size: auto 100%;
    border-radius: 50%;
    overflow: hidden;
    transition: all 1s;
    opacity: .7;
}
aside .pic-pass {
    width: 80px;
    height: 80px;
    opacity: 1;
    
}
aside .content {
    display: none;
    width: 200px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    color: #ccc;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 1s;

}

/* 正文 */

.right {
    width: 800px;
    height: 100%;
    margin: 70px auto;
    padding: 20px 50px;
    background-color: rgba(250, 250, 250, 0.95);
}
.right h4 {
    text-align: center;
    font-size: 30px;
    color: #555;
}
