<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topoor的组件垃圾堆</title>
    <!-- 引入小图标 -->
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <!-- 引入css文件 -->
    <link rel="stylesheet" href="nav.css">
    <script src="./jquery.js"></script>

</head>
<body>
    <nav class="w"></nav>
    <header>
        <div class="content w">
            <h2>欢迎来到我的组件仓库呀</h2>
            <p>这个仓库用来记录一些平时构建页面时奇奇怪怪的想法，只记录用，爱抄不抄 ==</p>
            <p class="ps">(抄了亿点点Bootstrap的组件布局页面，我诚实，我承认)</p>
        </div>
    </header>
    <div class="nav w">
        <h1>导航栏</h1>
        <hr>
        <ul class="nav-list">
            <li data-index="1">
                <h4>样式1</h4>
                <p>实际效果会有稍稍不一样，需要另外进行调整</p>
                <div class="one">
                    <div class="example">
                        <p>EXAMPLE</p>
                        <br>
                        <ul>
                            <li class="icon">icon</li>
                            <li class="search">
                                <input type="text" placeholder="表格">
                                <button>查找</button>
                            </li>
                            <li class="registered">
                                <span>登录</span>
                                <span>注册</span>
                            </li>
                        </ul>
                        <br>
                        <hr>
                    </div>
                    <br>
                    <div class="html">
                        <a href="./txt/样式1.txt" target="blank">html(.txt)</a>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="css">
                        <a href="./css/样式1.css" target="blank">css(.css)</a>
                        <br>
                        <br>
                    </div>
                    <div class="js"></div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>